strings = [
  "probably a computer",
  "there's probably some ram in there",
  "init should ideally be running",
  "yeah",
  "you should probably go outside",
  "i would be lead to believe that / is mounted",
  "hey, what's this knob do?",
  "i use arch btw",
]
